#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#mainCanvas {
    border-style: solid;
    border-color: aliceblue;
}

.button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 0px;
}

.label {
    font-size: 24px;
    color: aliceblue;
}

.input {
    width: 100px;
    height: 50px;
    align-self: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: 0px;
}